*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text-white{
    color: rgb(0, 0, 0) !important;
}
.clear{

    clear: both;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}
.mt-8{
    margin-top: 8px;
}
.mt-16{
    margin-top: 16px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
float: left;
padding-left: 8px;
padding-right: 8px;
}

.col-half{
    width: 50%;
}

.col-full{
    width: 100%;
}
.col-third{
    width: calc(100%/3);
}

.btn{
    color: #fff;
    background-color: black;
    border: none;
    text-decoration: none;
    padding: 12px 16px;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    }
.btn:hover{
        color: rgb(0, 0, 0);
        background-color: #ccc;
        opacity: 0.7;
        cursor: pointer;
    }

.pull-right{
    float: right;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;

}
#main{

}
#nav{
    display: inline-block;
}

#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: rgb(0, 200, 255);
    z-index: 1;
}

#nav , .subnav{
    list-style-type: none;

}
#nav > li{
    display: inline-block;
}
#nav li{
    position: relative;
}
#nav .subnav{
    display: none;
    min-width: 170px;
    position: absolute;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}
#nav .subnav a{
    color: black;
    padding: 0 12px;
    line-height: 38px;
}

#nav li:hover .subnav{
    display: block;
}
#nav > li:hover > a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav .nav-arrow-down{
    font-size: 14px;
}
#header .menu-mobile-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
#header .menu-mobile-btn,
#header .search-btn{
    float: right;
    padding: 0 20px;
}
#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;   
}
#header .menu-mobile-btn:hover{
    background-color: #ccc;
}
#header .menu-mobile-btn:hover .menu-icon{
    color: #000;
    background-color: #ccc;
}
#header .menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#slider{
    position: relative;
   margin-top: 46px;
   padding-top: 50%;
   background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;

}

#slider .text-content{
    position: absolute;
    bottom: 12px;
    color: violet;
    text-align: center;
    width: 100%;
}

#slider .text-one{
    font-weight: 500;
    font-size: 30px;
    
 ;
}

#slider .text-two{
    font-size: 15px;
    margin-top: 10px;
}


#content{

}

#content .content-section{
    margin-top: 8px;
    width: 800px;
    max-width: 100%;
    padding: 64px 16px;
    margin-left: auto;
    margin-right: auto;
}
#content .section-heading{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}
#content .section-sub-heading{
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text{
    margin-top: 20px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}
#content .member-listone{
    margin-top: 50px;
    text-align: center;
}

#content .member-item{
    float: left;
    width: calc(100%/4);
    text-align: center;
}
#content .member-name{
    font-size: 15px;
   
}

#content .member-img{
    width: 160px;
    height: 100px;
    margin-top: 15px;
    border-radius: 4px;
}


/* Hang 2 */
#content .about-text1{
    margin-top: 20px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}
#content .member-listtwo{
    margin-top: 50px;
    text-align: center;
}

#content .member-item1{
    float: left;
    width: calc(100%/3);
}
#content .member-name1{
    font-size: 15px;
   
}

#content .member-img1{
    width: 160px;
    height: 100px;
    margin-top: 15px;
    border-radius: 4px;
}

/* Tour section */
.tour-section{
    background-color: #00c8ff;
    height: 100%;
}
.tickets-lish{
    background-color: #fff;
    margin-top: 40px;
}
.tickets-lish li{
    font-size: 15px;
    color: #000;
    opacity: 0.8;
    padding: 12px 16px;
    list-style: none;
    border-bottom: 1px solid #ccc;
}

.tickets-lish .sold-out{
    font-size: 15px;
    color: white;
    background-color: violet;
    padding: 2px 6px;
    margin-left:12px ;
}

.tickets-lish .quantity{
    float: right;
    width: 24px;
    right: 24px;
    background-color: #00c8ff;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;

}

.places-lish{

margin-top: 16px;
margin-bottom: 50px;

}

.place-img{
width: 100%;
display: block;

}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
background-color: #fff;
padding: 16px;
font-size: 15px;

}

.place-heading{
    font-size: 15px;
    font-weight: 650;
}

.place-time{
margin-top: 15px;
color: #757575;

}

.place-desc{
margin-top: 15px;
line-height: 1.6;

}

.contact-content{
    margin-top: 48px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.6;
}

.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;


}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    padding:10px;
    border: #ccc solid 2px;
    width: 100%;
}
.map-section img{
    width: 100%;
    height: 100%;
}




#footer{
background-color: #fff;

}
.socials-lish{
    font-size: 50px;
    padding: 14px 16px;
    text-align: center;
}
.socials-lish a{
color: rgba(0,0,0,0.6);
text-decoration: none;
}
.socials-lish a:hover{
    opacity: 0.7;
}

.name-user{
    text-align: center;
    padding:12px 16px;
}
.modal {
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    background:rgba(0,0,0,0.3);
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open{
    display: flex;
}

.modal-container{
    background: #fff;
    width: 900px;
    min-height: 200px;
    max-width: calc(100% - 32px);
    position: relative;
    animation: modalFadeIn ease 0.8s;
}
.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.9;
}
.modal-close:hover{
    opacity: 0.7;
    color: black;
    background: #ccc;
}

.modal-header{
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(29 198 183 / 85%);
    font-size: 30px;
    color: #fff;
}

.modal-heading-icon{
    margin-right: 8px;
}
.modal-body{
    padding:16px;

}

.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 8px;
}

.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-ticket{
    background: rgb(29 198 183 / 85%);
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 16px;
    cursor: pointer;
}
#buy-ticket:hover{
    opacity: 0.8;
    color: black;
    background: #ccc;
}

.modal-footer{
    padding: 16px;
    text-align: right;
}

.modal-footer a{
    color: #2196F3;
}
.close-ticker{
    color:#fff;
    background: #f44336;
    position: absolute;
    border: none;
    left: 0;
    bottom: 0;
    font-size: 14px;
    margin: 16px 16px;
    padding: 8px 16px;
    text-transform: uppercase;
    cursor: pointer;
}

.close-ticker:hover{
    opacity: 0.8;
    color: rgb(0, 0, 0);
    background: #ccc;
}

.modal-help{
    margin-bottom: 25px;
}

@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-120px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
